<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Resource Reference: Defines a reference to a JDBC DataSource -->
    <resource-ref>
        <res-ref-name>jdbc/myDataSource</res-ref-name> <!-- Name of the JDBC resource reference -->
        <res-type>javax.sql.DataSource</res-type> <!-- Type of the resource (javax.sql.DataSource) -->
        <res-auth>Container</res-auth> <!-- Authentication type (Container-managed) -->
    </resource-ref>

    <!-- Welcome File List: Specifies the default file to be loaded -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file> <!-- Default file to be loaded -->
    </welcome-file-list>

    <!-- Session Configuration: Specifies session-related settings -->
    <session-config>
        <session-timeout>30</session-timeout> <!-- Session timeout in minutes -->
    </session-config>

    <!-- Other configurations can be added here as needed, such as security constraints, MIME mappings, etc. -->

</web-app>
